@import 'theme/utils';

.date-input-field {
    color: black;
    width: 240px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
}

.client-filter {
    background: white;
    margin: 10px 0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    padding: 20px 10px 25px 0;

    .filter-input-field {
        width: 485px;
        height: 35px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    .client-filter-bottom {
        margin-top: 40px;
        .filter-btn {
            @extend %filter-data-btn;
            // color: white;
            // background: black;
            // border-radius: 5px;
            // width: 175px;
            // height: 35px;
            // &:hover {
            //     color: gray;
            // }
        }
    }
}

.join-date,
.redemption-ammount,
.segment-select {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 5px;
    height: 35px;
}

.join-date {
    width: 150px;
}

.redemption-ammount {
    width: 75px;
}

.segment-select {
    width: 225px;
    color: black;
    border-radius: 5px;
    appearance: none;
    background: #fff url('../../../../assets/svg/Asset 10.png') no-repeat 10px
        center;
}

.list-options img {
    margin: 0 15px;
    filter: brightness(0);
}

.col-gray {
    color: gray;
}

// tbody tr td {
//     color: gray;
//     padding: 5px;
// }

// tbody tr td:first-child {
//     color: $item-link-color;
//     text-decoration: underline;
// }

// tbody tr:nth-child(odd) {
//     // what color is this??
//     // background: $table-item-color;
//     // background: lightgray;
// }
