@import 'theme/utils';

.modal-padding {
    padding: 60px;
    text-align: center;
    max-width: 1050;
    background: white;
}

.approve {
    @extend %filter-data-btn;
    margin: 55px 0 40px 0;
}

.decline {
    text-decoration: underline;
    cursor: pointer;
}