@import 'theme/utils';

.side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    font-size: $font-size-reg;

    .chipper-logo {
        display: block;
        margin: 0 auto;
        padding: 25px 0 25px 0;
    }

    li {
        margin: 0px 0px 10px 0px;
        cursor: pointer;
        color: white;
    }

    .list-item {
        display: block;
        padding: 10px 10px;

        img {
            padding-left: 1rem;
        }
    }

    .list-item.chipper-checkout {
        border-top: 1px solid #9a9b9e;
        border-bottom: 1px solid #9a9b9e;
    }

    .create-btn {
        background: white;
        color: #040503;
        padding: 2px;
        width: 80%;
        border-radius: 5px;
        text-align: center;
        display: block;
        margin: 4rem auto;
    }

    .bottom-menu-items {
        position: relative;
        bottom: 50px;
    }
}
