@import 'theme/utils';

.dashboard-item.date-time,
.dashboard-item.select-box {
    cursor: pointer;
    border: none;
    height: 40px;
    width: 235px;
    padding: 10px;
    margin-right: 25px;
    border-radius: 5px;
    appearance: none;
    color: #222;
}

.dashboard-item.select-box {
    background: #fff url('../../../../assets/svg/Asset 10.png') no-repeat 10px
        center;
}

.share-icon,
.download-icon {
    padding: 0 20px;
    filter: brightness(5);
    cursor: pointer;
}

.graph-item {
    // display: flex;
    min-width: 600px;
    max-width: 760px;
    height: 330px;
    margin-left: 20px;
}

.graph-options img {
    margin: 0 10px;
    filter: brightness(0);
    cursor: pointer;
}

.map-btn {
    margin-left:10px;
    background: white;
    border-radius: 5px;
    height: 35px;
    padding: 0 20px;
}

.cal-icon {
    &::after{
        content: url('@/assets/svg/Asset 13.png');
    }
}
