*,
*:before,
*:after {
    box-sizing: border-box;
}

:hover,
:focus,
:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    direction: rtl;
    display: block;
    width: 100%;
    height: 100%;
    background: #f1f2f2;
    color: $font-default-color;
    font-family: $font-default-family;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

body {
    &.has-modal {
        overflow: hidden;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

a,
button,
input {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: inherit;
        outline: none;
    }
}

button {
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

img {
    display: inline;
    max-width: none;
    max-height: none;
}

.page-align {
    right: 250px;
    width: calc(100% - 250px);
}

.top-bar {
    background: $top-bar-bg;
    padding: 10px 40px 10px 85px;
    color: white;
    height: 65px;
    display: flex;
    align-items: center;
}

.top-bar-title {
    font-family: $font-default-family-bold;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-right: 20px;
}

.title-bar {
    background-color: #d1d3d4;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

