@import 'theme/utils';

.side-padding {
    padding: 25px 25px 20px 15px
}

.not-interested {
    color: gray;
    text-decoration: underline;
}

.approve {
    margin-left: 10px;
    @extend %filter-data-btn;
    width: 105px;
}