@font-face {
    font-family: 'Heebo-regular';
    src: url('../assets/fonts/Heebo-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Heebo-bold';
    src: url('../assets/fonts/Heebo-Bold.ttf') format('ttf');
}