@import 'theme/utils';

.redemption-filter-section {
    padding: 20px 25px 25px 0;
}

input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
}

.redemption-free-search {
    width: 485px;
}

.redemption-location-input {
    width: 230px;
}

.redemption-date-input {
    widows: 165px;
}

.col-gray {
    color: gray;
}

.filter-btn {
    @extend %filter-data-btn;
    // color: white;
    // background: black;
    // border-radius: 5px;
    // width: 175px;
    // height: 35px;
    // &:hover {
    //     color: gray;
    // }
}

.list-options img {
    margin: 0 15px;
    filter: brightness(0);
}
