
.margin-auto {
    margin: 0 auto;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20{
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-130 {
    margin-left: 130px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.pad-right-10 {
    padding-right: 10px;
}

.pad-20 {
    padding: 20px;
}

.pad-page {
    padding: 0 10px 0 85px;
}

.spacer {
    margin: 0 5px;
}
