// Flex helpers //
@import './flexHelpers';
@import './spacers';

// Spacers

// ***************************************** //

// NavBar style
.active {
    border-right: 6px solid white;
    background: $color-active;
}


.section {
    background: white;
    color: $font-default-color;
    margin: 10px 0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.section-border {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

%select-box {
    appearance: none;
    background: #fff url('@/assets/svg/Asset 10.png') no-repeat 10px;
    padding: 5px 5px;
    border-radius: 5px;
    height: 35px;
}

%input-field {
    border-color: gray;
    border-radius: 5px;
}

%filter-data-btn {
    color: white;
    background: black;
    border-radius: 5px;
    width: 230px;
    height: 35px;
    &:hover {
        color: gray;
    }
}

.date-range {
    direction: ltr;
    height: 40px;
    width: 255px;
    line-height: 40px;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 0px 20px 0px 45px;

    &::after {
        // content: url('@/assets/svg/Asset 13.png');
        filter: brightness(1);
        position: absolute;
        left: 0;
        top:4px;
        padding-left: 10px;
    }

    div > div {
    border: none;
    }
}

.bar-link {
    font-size: 14px;
    color: #006bce;
    text-decoration: underline;
}