$font-default-color: #000000;
$font-default-family: 'Heebo-regular', sans-serif;
$font-default-family-bold: 'Heebo-bold', sans-serif;

$font-size-reg: 14px;
$font-size-big: 24px;


.bold {
    font-weight: bold;
    font-family: $font-default-family-bold;
}

.reg {
    font-weight: normal;
    font-family: $font-default-family;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}


.size-20 {
    font-size: 20px;
}

.size-24 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}