@import 'theme/utils';

.header {
    padding: 20px 10px 20px 85px;
    background: white;
    color: #222;

    .header-input-wrapper{
        min-width: 380px;
        max-width: 800px;
        // position: relative;
        flex: 1;
    }
    .input-field {
        flex: 1;
        border: 1px solid #666;
        border-radius: 5px;
        height: 50px;
        background: #fff url('../../../../assets/svg/Asset 15.png') no-repeat
            10px;
    }

    .user-btn {
        background: $user-btn-bg;
        border-radius: 5px;
        width: 225px;
        height: 50px;
        line-height: 50px;
    }

    .user-icon {
        padding-left: 10px;
    }
}
