@import 'theme/utils';

.campiagn-filter-input {
    width: 165px;
}


.list-options img {
    cursor: pointer;
    margin: 0 15px;
    filter: brightness(0);
}

.filter-btn {
    @extend %filter-data-btn;
}

.filter-by {
    width: 485px;
}

.checkbox-hack {
    display: none;
    +.checkbox-toggle {
        width: 50px;
        height: 28px;
        margin: 0px 20px;
        transform: translateY(25%);
        cursor: pointer;
        content: url('../../../../assets/svg/Asset 65.png');
    }
    &:checked + .checkbox-toggle {
        content: url('../../../../assets/svg/Asset 64.png');
    }
}

// .checkbox-hack + .checkbox-toggle {
//     width: 50px;
//     height: 28px;
//     margin: 0px 20px;
//     transform: translateY(25%);
//     cursor: pointer;
// }

// .checkbox-hack + .checkbox-toggle {
//     content: url('../../../../assets/svg/Asset 65.png');
// }

// .checkbox-hack:checked + .checkbox-toggle {
//     content: url('../../../../assets/svg/Asset 64.png');
// }