@import 'theme/utils';

input {
    @extend %input-field;
}

.filter-by {
    width: 485px;
}

.select-box {
    @extend %select-box;
    width: 230px;
}

.checkbox-hack {
    display: none;
    user-select: none;
}

.checkbox-hack + .checkbox-toggle {
    width: 50px;
    height: 28px;
    margin: 0px 20px;
    transform: translateY(25%);
    cursor: pointer;
    user-select: none;
}

.checkbox-hack + .checkbox-toggle {
    content: url('../../../../assets/svg/Asset 65.png');
}

.checkbox-hack:checked + .checkbox-toggle {
    content: url('../../../../assets/svg/Asset 64.png');
}

.coupon-redemption-start,
.coupon-redemption-end {
    width: 165px;
}

.filter-btn,
.create-campaign-btn {
    @extend %filter-data-btn;
}

.filter-btn {
    width: 230px;
}

.create-campaign-btn {
    width: 190px;
    background: black url('../../../../assets/svg/Asset 47.png') no-repeat right 15px center;
}

.list-options img {
    margin: 0 15px;
    filter: brightness(0);
    cursor: pointer;
}
