@import 'theme/utils';

.top-segment-bar {
    background: white;
    color: $font-default-color;
    padding: 30px 20px 30px 5px;
    margin: 10px 0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;

    button {
        padding: 5px 30px;
        border: 1px solid gray;
        border-radius: 5px;
        color: black;
    }

    .right-side-options {
        width: 40%;
        .share-icon {
            filter: brightness(0);
        }

        a {
            color: $item-link-color;
            text-decoration: underline;
        }
    }
    .left-side-options {
        margin-left: 15px;
        span {
            padding: 0 20px;
        }
    }
}

.segment-filter {
    background: white;
    // color: black;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    padding: 20px 30px;
    .seperator {
        padding: 0px 15px;
    }
}

.segment-list {
    margin-top: 45px;
}

.dark {
    filter: brightness(0);
}
