.segment-item {
    min-width: 400px;
    flex-basis: 30%;
    flex-grow: 0;
    background: white;
    height: 200px;
    color: black;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    // box-shadow: 0px 0px 5px gray;
    margin: 0 10px 10px;
    cursor: pointer;
}

.segment-checkbox {
    position: absolute;
    top: -3px;
    right: 5px;
    width: 35px;
    height: 35px;
}

.segment-maximize {
    position: absolute;
    top: -5px;
    left: 15px;
}

.segment-title {
    margin-right: 60px;
    margin-top: -30px;
}
