@import 'theme/utils';


.overflow-fix {
    overflow-x: hidden;
}

.top-content {
    max-height: 540px;
}

.title-options img{
    filter: brightness(5);
}

.cal-icon {
    &::after{
        content: url('@/assets/svg/Asset 13.png');
    }
}

.supplier-list {
    flex: 2 1 0;
}

.distributor-request {
    flex: 1 1 0;
}


.distributor-list {

    > div:not(:first-child)::before {
        content:"";
        background: #666;
        position: absolute;
        top: 0;
        height: 1px;
        width: 92%;
    }
}

.stop-supplier{
    background: white;
    color: black;
    border: 1px solid #666;
    border-radius: 5px;
    width: 280px;
    height: 32px;
}

.supplier-icons img{
    filter:brightness(0);
    cursor: pointer;
    padding: 0 20px;
}

.supplier-info{
    background:white;
}

.nis {
    &::before{
        margin-right: 5px;
        content:'\20AA' ;
    }
}