@import 'theme/utils';

.upload-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 32px;
    width: 185px;
    border: 1px solid #666;
    border-radius: 5px;
    span {
        padding-left: 15px;
    }
}

.input-height {
    height: 34px;
}

.branch-name {
    width: 485px;
}

.input-field-width {
    width: 230px;
}

.input-range {
    width: 100px;
}

.day-padding { 
    padding-right: 5px;
    padding-left: 25px;
}

.add-branch-btn {
    height: 34px;
    width: 105px;
    border: 1px solid #666;
    border-radius: 5px;
}

.text-box {
    border-radius:5px;
}